.size-grid {

}

.location {
  margin: 3px;
  font-size: 20px;
}

.grid-item {
  flex: 1;
  text-align: center;
  padding: 5px;
  border: 2px solid gray;
  border-radius: 10px;
  &:hover {
    border: 2px solid #1976d2;
    scale: 1.1;
  }
}

.grid-container {
  padding: 10px 5px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.btn {
  width: 500px;
  height: 100px !important;
  margin-top: 20px;
  background: #2d9f2d !important;
}

.chosen-size {
  background: #62a4e5;
}

.not-available {
  opacity: 0.3
}
