.product {
  width: 500px;
  &__img-container {
    width: 500px;
    height: 350px
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__slider :deep(.v-slider--horizontal::before) {
    content: '';
    height: 350px;
    width: 100%;
    position: absolute;
    top: -350px;
    left: 0px;
    cursor: ew-resize;
  }
}





